{% extends 'base.html.twig' %}

{% block title %}
    Colbert Support - {{ panne.description }}
{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1>{{ panne.description }}</h1>
        <div class="row">
            <div class="col-6"><small>Solutionnée par <a
                            href="{{ path('profil',{'id':panne.user.id}) }}">{{ panne.user.firstName }} {{ panne.user.lastName }}</a>,
                    le {{ panne.createdAt | date ('d/m/Y') }}</small></div>
            <div class="col-6 text-right">
                {% for role in app.user.roles %}
                    {% if role == "ROLE_ADMIN" %}
                        <a href="{{ path('edit_panne',{'id':panne.id}) }}" class="btn btn-sm btn-warning ">
                            <i class="fas fa-edit"></i>
                        </a>
                    {% endif %}

                {% endfor %}
                </div>
        </div>
        <br>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="card">
                    <img src="https://www.placehold.it/300x100" alt="">
                    <div class="card-body">
                        <div class="card-text">
                            <p>{{ panne.solution }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>


    </div>
{% endblock %}



