{% extends 'base.html.twig' %}

{% block title %}
    Colbert Support - {{ user.firstName }} {{ user.lastName }}
{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1>{{ user.firstName }} {{ user.lastName }}</h1>
        <div class="row">
            <h5>Rôles :
                <span class=" badge-{{ user.roles[0] == "ROLE_USER" ? "primary" : "ROLE_ADMIN" ? "danger" : "success" }}
                    badge badge-pill">
                    {{ user.roles[0] == "ROLE_USER" ? "USER" : "ADMIN" }}
                </span>
            </h5>
        </div>

        <br>
        <p>{{ user.email }}</p>
    </div>
{% endblock %}