{% extends 'base.html.twig' %}
{% block title %}Colbert support - Modification de {{ user.firstName }} {{ user.lastName }}{% endblock %}
{% block body %}
    <header>
        <button class="btn btn-secondary" onclick="window.history.back();">Retour</button>
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">{{ user.firstName }} {{ user.lastName }}
                    <br>
                </h1>
                <div class="text-white-50 mx-auto "></div>
            </div>
        </div>
    </header>

    <body>
    <div class="row">
        <div class="mx-auto col-md-8">
            <h2 class="mt-5 mb-3">
                Complétez le formulaire</h2>
            {% if violations is defined %}
                {% for violation in violations %}
                    <div class="alert-danger">
                        {{ violation.message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="form-group">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-success">Valider</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    </body>
{% endblock body %}