{% extends 'base.html.twig' %}


{% block title %}Colbert support - Users{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="row mb-3">
            <div class="col-10 my-auto">
                <div class="row">
                    <div class="col-2 my-auto">Trier par :</div>
                    <div class="col-3 my-auto">
                        <div class="select-container d-block">
                            <select class="custom-select">
                                <option selected="">ID</option>
                                <option value="1">Ordre Alphabétique</option>
                                <option value="2">Ordre Alphabétique Inverse</option>
                                <option value="3">Date d'enregistrement</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-2 my-auto">Afficher :</div>
                    <div class="col-2 my-auto">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="usersCheck" checked>
                            <label class="custom-control-label" for="usersCheck">Users</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="contributorCheck" checked>
                            <label class="custom-control-label" for="contributorCheck">Contributors</label>
                        </div>
                    </div>
                    <div class="col-3 my-auto">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="adminsCheck" checked>
                            <label class="custom-control-label" for="adminsCheck">Admins</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="superAdminsCheck" checked>
                            <label class="custom-control-label" for="superAdminsCheck">Super Admins</label>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-2 my-auto">
                <a class="btn btn-primary" href="{{ path('add_user') }}">
                    &plus; Ajouter un utilisateur
                </a>
            </div>
        </div>
        <div class="row">
            {% for user in users %}
                <div class="col-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <h5 class="card-title my-auto">{{ user.firstName }} {{ user.lastName }}</h5>
                                </div>
                                <div class="col-md-4 my-auto text-right">
                                    <a href="#" class="btn btn-sm btn-warning">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a data-toggle="modal" data-target="#alert{{ user.id }}"
                                       class="btn btn-sm btn-danger "
                                       href="">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </div>
                            </div>
                            <hr>
                            <div class="card-text">
                                <div class="row">
                                    <div class="col-6">
                                        {% set roleColor = "" %}
                                        {% set role = "" %}
                                        {% if user.roles[0] == "ROLE_USER" %}
                                            {% set roleColor = "primary" %}
                                            {% set role = "USER" %}
                                        {% elseif user.roles[0] == "ROLE_CONTRIBUTOR" %}
                                            {% set roleColor = "success" %}
                                            {% set role = "CONTRIBUTOR" %}
                                        {% elseif user.roles[0] == "ROLE_ADMIN" %}
                                            {% set roleColor = "warning" %}
                                            {% set role = "ADMIN" %}
                                        {% elseif user.roles[0] == "ROLE_SUPER_ADMIN" %}
                                            {% set roleColor = "danger" %}
                                            {% set role = "SUPER ADMIN" %}
                                        {% endif %}
                                        <span class=" badge-{{ roleColor }} badge badge-pill">{{ role }}</span>
                                    </div>
                                    <div class="col-6 text-right">
                                        id : {{ user.id }}
                                    </div>
                                    <div class="col-12">
                                        {{ user.email }}
                                    </div>

                                    <div class="col-12">
                                        <p>
                                            Enregistré le : {{ user.createdAt | date('d/m/Y') }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'partials/modal_users.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}